# Fish
# Ignore everything by default
# This is so that files added by plugins are not tracked
fish/.config/fish/*

# Only include personay configuration
!fish/.config/fish/fish_plugins
!fish/.config/fish/conf.d/color.fish
!fish/.config/fish/fish_greeting.fish

